@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

a {
  text-decoration: none;
}

/* Header */
@media only screen and (max-width: 767px) {
  .head-title {
    justify-content: flex-start !important;
  }
  .count {
    margin-right: 10px;
  }
  .product-title {
    display: none;
  }

  #search-input {
    display: none;
  }
  .search-svg {
    display: none;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

.shoplane-title {
  font-size: 35px;

  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 95%;
}

.head-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.product-title {
  font-size: 18px;
  align-self: center;
  font-family: "IBM Plex Mono", monospace;
  color: black;
}

.head-title {
  width: 50rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
}

.head-left {
  width: 20rem;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.basket {
  background-color: rgba(255, 255, 255, 0);
  width: 50px;
  height: 46px;
}

.login-btn {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(79 70 229);
  border: 1px solid rgb(79 70 229);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  color: white;
  outline: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  margin: auto;
}

.login-btn:hover {
  background-color: rgb(56, 47, 224);
}

#search {
  position: relative;
  display: flex;
  height: 50px;
  align-items: center;
  margin-right: 10px;
}
.search-svg {
  position: absolute;
  padding: 10px;
  margin-top: 4px;
}
.baskets {
  display: flex;
}

.count {
  width: 20px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: gray;
  color: white;
  border-radius: 50%;
}

#search-input {
  width: 26em;
  height: 3em;
  padding: 2px 50px;
  background-color: rgb(241, 241, 241);
  border: none;
  border-radius: 5px;
}

/*  Slider  */
@media only screen and (max-width: 767px) {
  .slider {
    width: 95%;
    margin-top: 5px;
  }
  .prev-slider {
    top: 45%;
  }
  .next-slider {
    top: 45%;
  }

  .slider img {
    width: 100%;
    object-fit: fill;
    aspect-ratio: 16 / 9;
    max-height: 220px;
  }

  .active-img {
    display: block;
  }
}
section {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.slider {
  max-width: 1100px;
  width: 90%;
  margin-top: 30px;
  position: relative;
}
.slider button {
  border: none;
  outline: none;
  box-shadow: none;
}

.slider img {
  width: 100%;
  display: none;
  height: 300px;
  object-fit: fill;
}

.active-img {
  display: block !important;

  animation-name: slide;
  animation-duration: 2s;
}

.next-slider {
  position: absolute;
  top: 50%;
  right: 0;
  background: transparent;
  cursor: pointer;
}

.next-slider svg {
  width: 50px;
  height: 50px;
}

.prev-slider {
  position: absolute;
  left: 0;
  top: 50%;
  background: transparent;
  cursor: pointer;
}

.prev-slider svg {
  width: 50px;
  height: 50px;
}

@keyframes slide {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

/* Product List */
.product {
  background: white;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 20px;
}

.category {
  display: inline;
  padding: 1em;
  background: white;
  height: 13rem;
}

.check {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 9rem;
  margin-top: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.category-item {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
}
.category-item input {
  display: none;
}

.item-title {
  font-size: 13px;
  font-weight: 500;
  font-family: "IBM Plex Mono", monospace;
}

.checkbox {
  width: 1.4rem;
  display: inline;
  height: 1.4rem;
  background: white;
  border-radius: 5px;
  border: 1px solid gray;
}

.category-checkbox:checked + .checkbox {
  color: white;
  border: none;
  background-color: blue;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPgogIDxwYXRoIGQ9Ik0yMCA2TDkgMTdsLTUtNSIvPgo8L3N2Zz4=");
  background-size: 1.5rem;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
}

.product-list {
  height: auto;
  display: flex;
  max-width: 1400px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  border: 2px solid white;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 2px 6px 2px rgb(219, 219, 219);
}

.card:hover {
  box-shadow: 1px 2px 8px 4px rgba(120, 119, 119, 0.649);
}

.product-img {
  width: 100%;
  height: 20rem;
  object-fit: contain;
}

.card-title {
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  white-space: pre-line;
}

.card-category {
  display: flex;
  justify-content: center;
  max-width: 8rem;
  text-align: center;
  height: 1.7rem;
  background: rgb(79 70 229);
  font-weight: bold;
  border-radius: 60px;
  color: white;
  padding: 5px;
}

.card-price {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}
.items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 5px;
}

.card-detail {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .product {
    background: white;
    flex-direction: column;
    gap: 1px;
    padding: 10px;
  }

  .category {
    display: inline;
    height: 9rem;
    padding: 0.2rem;
  }
  .category h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .check {
    width: 100%;
    height: 3rem;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
  }
  .checkbox {
    width: 1.4rem;
    height: 1.4rem;
  }
  .product-img {
    width: 100%;
    height: 200px;
    aspect-ratio: 3 / 4;
    object-fit: contain;
  }

  .item-title {
    font-size: 0.8rem;
    font-weight: 400;
    white-space: nowrap;
  }
  .category-item {
    flex-direction: row;
    align-items: center;
    font-size: 10px;
    justify-content: center;
  }

  .items {
    justify-self: end;
  }

  .card {
    max-width: 12rem;
    max-height: 30rem;
    padding: 0.7rem;
  }

  .card-detail {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
