@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loader {
  display: none;
  position: fixed;
  width: 250px;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  height: 100px;
  transition: all 2s ease-out;
  z-index: 1;
}

a {
  text-decoration: none;
}

/* Header */
@media only screen and (max-width: 767px) {
  .head-title {
    justify-content: flex-start !important;
  }

  .count {
    margin-right: 10px;
  }

  .product-title {
    display: none;
  }

  #search {
    display: none !important;
  }

  .search-svg {
    display: none;
  }

  .shoplane-title {
    font-size: 23px !important;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

.shoplane-title {
  font-size: 35px;
  font-style: normal;
  text-decoration: none;
  color: black;
}

.container {
  width: 95%;
  max-width: 1391px;
  height: auto;
}

.head-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.product-title {
  font-size: 18px;
  align-self: center;
  color: black;
}

.head-title {
  width: 50rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
}

.head-left {
  width: 20rem;
  display: flex;
  flex-grow: 1;
  align-content: center;
  justify-content: space-between;
}

.basket {
  background-color: rgba(255, 255, 255, 0);
  width: 50px;
  height: 46px;
}

.login-btn {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(79 70 229);
  border: 1px solid rgb(79 70 229);
  font-family: "IBM Plex Mono", monospace !important;
  font-weight: 300;
  color: white;
  outline: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  margin: auto;
}

.login-btn:hover {
  background-color: rgb(56, 47, 224);
}

#search {
  position: relative;
  display: flex;
  height: 50px;
  align-items: center;
  margin-right: 10px;
}

.search-svg {
  position: absolute;
  padding: 10px;
  margin-top: 4px;
}

.baskets {
  display: flex;
}

.count {
  width: 20px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: gray;
  color: white;
  border-radius: 50%;
}

#search-input {
  width: 26em;
  height: 3em;
  padding: 2px 50px;
  background-color: rgb(241, 241, 241);
  border: none;
  border-radius: 5px;
}

/*  Slider  */
@media only screen and (max-width: 767px) {
  .slider {
    width: 95%;
    margin-top: 5px;
  }

  .prev-slider {
    top: 45%;
  }

  .next-slider {
    top: 45%;
  }

  .slider img {
    width: 100%;
    object-fit: fill;
    max-height: 220px;
  }

  .active-img {
    display: block;
  }
}

.slider-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.slider {
  max-width: 1100px;
  width: 90%;
  margin-top: 30px;
  position: relative;
}

.slider button {
  border: none;
  outline: none;
  box-shadow: none;
}

.slider img {
  width: 100%;
  display: none;
  aspect-ratio: 16 / 9;
  height: 300px;
  object-fit: fill;
}

.active-img {
  display: block !important;
  animation-name: slide;
  animation-duration: 2s;
}

.next-slider {
  position: absolute;
  top: 50%;
  right: 0;
  background: transparent;
  cursor: pointer;
}

.next-slider svg {
  width: 50px;
  height: 50px;
}

.prev-slider {
  position: absolute;
  left: 0;
  top: 50%;
  background: transparent;
  cursor: pointer;
}

.prev-slider svg {
  width: 50px;
  height: 50px;
}

@keyframes slide {
  from {
    opacity: 0.7;
  }

  to {
    opacity: 1;
  }
}

/* Product List */
.product {
  background: white;
  display: flex;
  gap: 10px;
  padding: 20px;
  margin-top: 20px;

  >.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.category {
  display: inline;
  padding: 1em;
  background: white;
  height: 13rem;
}

.check {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 9rem;
  margin-top: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.category-item {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
}

.category-item input {
  display: none;
}

.item-title {
  font-size: 13px;
  font-weight: 450;
  font-family: "IBM Plex Mono", monospace !important;
}

.checkbox {
  width: 1.4rem;
  display: inline;
  height: 1.4rem;
  background: white;
  border-radius: 5px;
  border: 1px solid gray;
}

.category-checkbox:checked+.checkbox {
  color: white;
  border: none;
  background-color: blue;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPgogIDxwYXRoIGQ9Ik0yMCA2TDkgMTdsLTUtNSIvPgo8L3N2Zz4=");
  background-size: 1.5rem;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
}

.product-wrapper {
  display: flex;
}

.product-list {
  display: flex;
  gap: 13px;
  flex-wrap: wrap;
  flex-grow: 1 !important;
  justify-content: flex-start;
  margin-left: 1.6rem;
}

.card {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: 2px solid white;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 2px 6px 2px rgb(219, 219, 219);
}

.card-img {
  display: flex;
  flex-grow: 1;
}

.card:hover {
  box-shadow: 1px 2px 8px 4px rgba(120, 119, 119, 0.649);
}

.product-img {
  width: 100%;
  height: 16rem;
  object-fit: contain;
  background: transparent;
}

.card-title {
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  white-space: pre-line;
}

.card-category {
  display: flex;
  justify-content: center;
  max-width: 10rem;
  text-align: center;
  height: 1.7rem;
  background: rgb(58, 57, 93);
  font-weight: bold;
  border-radius: 60px;
  color: white;
  padding: 5px 10px 5px 10px;
}

.card-price {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 8px;
}

.view-btn {
  width: 95%;
  background: #0d6efd;
  color: white;
  outline: none;
  padding: 8px;
  font-size: 14px;
  border: none;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.view-btn:hover {
  background: #0f5aca;
}

.card-detail {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pagi {
  width: 100%;
  gap: 10px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center !important;
}

.pagi-btn {
  padding: 8px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 300ms all;
  border: 1px solid black;
}

.pagi-btn:hover {
  background: white;
  color: black;
}

.page-count {
  display: flex;
  gap: 20px;
}

.page {
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 300ms all;
  padding: 8px;
}

.page:hover {
  background: white;
  color: black;
}

@media only screen and (max-width: 767px) {
  .product {
    background: white;
    flex-direction: column;
    gap: 1px;
    padding: 10px;
    margin-top: 5px;
  }

  .category {
    display: inline;
    height: 8.7rem;
    padding: 0.5rem;
    margin-bottom: 5px;
  }

  .category h1 {
    text-align: center;
    margin-bottom: 10px;
  }

  .check {
    width: 100%;
    height: 3rem;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
  }

  .checkbox {
    width: 1.4rem;
    height: 1.4rem;
  }

  .product-img {
    width: 100%;
    max-height: 150px;
    aspect-ratio: 3 / 4;
    object-fit: contain;
  }

  .item-title {
    font-size: 0.8rem;
    font-weight: 400;
    white-space: nowrap;
  }

  .category-item {
    flex-direction: row;
    align-items: center;
    font-size: 10px;
    gap: 5px;
    justify-content: center;
  }

  .items {
    justify-self: end;
  }

  .card {
    max-width: 10rem;
    max-height: 30rem;
    padding: 0.7rem;
  }

  .card-detail {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

/* Product.html CSS */
.product-detail {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  border-radius: 10%;
  gap: 5px;
}

@media only screen and (max-width: 767px) {
  .product-detail {
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;

    >.product-images {
      margin-bottom: 15px;
    }
  }

  .similar-category-title {
    text-align: center;
  }

  .similar-category {
    justify-content: space-evenly;
  }

  .similar-card {
    width: 140px !important;
    border-radius: 10px !important;
  }

  .product-images {
    >img {
      width: 280px;
      height: 260px;
    }
  }

  .details-product {
    margin-left: 0px;
    justify-content: center !important;
    gap: 10px !important;

    >h4 {
      font-size: 20px !important;
      text-align: center;
      margin-top: 5px;
      white-space: normal !important;
    }
  }
}

.products {
  width: 100%;
  padding: 10px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  >img {
    object-fit: contain;
    background: transparent;
    z-index: -1;
  }
}

.details-product {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 7px;

  >span {
    font-size: 16px;
  }

  >h4 {
    white-space: pre-line;
    white-space-collapse: collapse;
  }
}

.product-description {
  white-space: pre-line;
  font-size: 16px;
  font-weight: 400;
}

.tree-product {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.similar-category {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
}

.similar-category-title {
  margin-bottom: 5px;
  font-weight: 450;
  text-align: center;
}

.similar-card {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 5px;
  border: 1px solid rgb(183, 161, 161);
  border-radius: 12%;

  >div {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    >span {
      font-size: 15px !important;
      font-weight: 400 !important;
    }
  }

  >a {
    margin-top: 5px !important;
    width: 70% !important;
    padding: 5px;
    cursor: pointer;
  }

  >img {
    object-fit: contain;
    width: 100%;
    height: 100px;
    flex-grow: 1;
  }
}

.buy-btn {
  width: 100%;
  background: #0d6efd;
  color: white;
  outline: none;
  padding: 8px;
  font-size: 14px;
  border: none;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.buy-btn:hover {
  background: #0f5aca;
}

.similar-card:hover {
  box-shadow: 1px 2px 8px 4px rgba(120, 119, 119, 0.649);
}

/* Basket Page*/
.basket-list {
  display: flex;
  height: 100vh;
  align-items: flex-start;
  justify-content: center !important;
  margin-top: 50px;

  >.container {
    width: 100%;
    max-width: 800px;
  }
}

.buy-product {
  width: 900px;
  height: 500px;
  border: 2px solid #908888;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-radius: 10px;
  gap: 10px;
  padding: 10px 5px;
  box-sizing: border-box;
}

.basket-card-container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.buy-product-title {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;

  >h3 {
    font-size: 18px;
    font-weight: 500;
  }
}

.basket-card {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid gray;
  align-items: center;
  height: 120px;
  padding: 10px 15px;
  margin-top: 5px;
}

.basket-card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: box-shadow 0.3s ease;
}

.basket-card:last-child {
  border-bottom: none;
}

.basket-product {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 2;
  height: 90px;

  >img {
    object-fit: contain;
    width: 100px;
    max-height: 90px;
    mix-blend-mode: multiply;
  }

  >a {
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-align: left;
    display: block;
    margin-left: 10px;
  }

  >a:hover {
    color: blue;
  }
}

.basket-operation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  height: 90px;
}

.basket-quantity {
  display: flex;
  flex-direction: row;
  align-items: center !important;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 5px 10px;
  width: 100px;
  justify-content: space-between;
  gap: 4px;

  >input {
    width: 30px;
    height: 25px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 50%;
  }

  >button {
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
  }
}

.till {
  display: flex;
  width: 100%;
  margin-top: 10px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  border-top: 1px dashed black;
}

.remove-product {
  width: 35px;
  height: 35px;
  cursor: pointer;
}



/* Login */
.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #f0f4f8, #d9e2ec);

  >.container {
    display: flex;
    justify-content: center;
    width: 90%;
  }
}

.login-form {
  width: 450px;
  max-width: 450px;
  max-height: 460px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 5px;

  >h2 {
    font-size: 35px;
    font-style: normal;
    text-decoration: none;
    color: black;
    font-weight: 350;
  }

  >img {
    background: transparent;
  }
}

.input-groups {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 5px;

  >label {
    color: #58626B;
    font-size: 13px;
    margin-bottom: 3px;
  }

  >input {
    width: 100%;
    height: 45px;
    outline: none;
    border: 0.5px solid #84929E;
    border-radius: 5px;
    padding: 0px 10px;
  }

  >input:focus {
    border: 1px solid #909090;
  }
}

.submit {
  display: block;
  width: 95%;
  height: 40px;
  padding: 8px;
  background-color: #4931A8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 3ms all;
  margin-top: 10px;
}

.submit:hover {
  transform: translateY(-2px);
}

.submit:disabled {
  opacity: 0.5;
}

.error-message {
  font-size: 13px;
  color: red;
  text-align: left;
}

.extra {
  display: flex;
  justify-content: space-between;
  align-items: center;

  >label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 13px;
  }

  >a {
    font-size: 12px;
  }
}

.extra-links {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;

  >a {
    font-size: 13px;
  }

  >span {
    font-size: 13px;
    color: #909090;
    font-weight: 400;
  }
}