* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header */
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  padding: 10px;
}

.shoplane-title {
  font-size: 35px;
  font-family: Geneva, Verdana, sans-serif;
}

.container {
  width: 95%;
}

.head-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.product-title {
  font-size: 16px;
  font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.head-title {
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.head-left {
  width: 20rem;
  display: flex;

  justify-content: flex-end;
  margin-left: 0;
  align-content: center;
}

.basket {
  background-color: rgba(255, 255, 255, 0);
  width: 50px;
  height: 46px;
}

.login-btn {
  width: 55px;
  height: 40px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(79 70 229);
  border: 1px solid rgb(79 70 229);
  color: white;
  outline: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  margin: auto;
}

.login-btn:hover {
  background-color: rgb(56, 47, 224);
}

#search {
  position: relative;
  display: flex;
  height: 50px;
  align-items: center;
  margin-right: 10px;
}
.search-svg {
  position: absolute;
  padding: 10px;
  margin-top: 4px;
}
.baskets {
  display: flex;
}

.count {
  width: 20px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: gray;
  color: white;
  border-radius: 50%;
}

#search-input {
  width: 26em;
  height: 3em;
  padding: 2px 50px;
  background-color: rgb(241, 241, 241);
  border: none;
  border-radius: 5px;
}

/*  Slider  */
section {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.slider {
  max-width: 1100px;
  width: 90%;
  margin-top: 50px;
  position: relative;
}
.slider button {
  border: none;
  outline: none;
  box-shadow: none;
}

.slider img {
  width: 100%;
  display: none;
  height: 400px;
}

.active-img {
  display: block !important;
  animation-name: slide;
  animation-duration: 2s;
}

.next-slider {
  position: absolute;
  top: 50%;
  right: 0;
  background: transparent;

  cursor: pointer;
}

.next-slider svg {
  width: 50px;
  height: 50px;
}

.prev-slider {
  position: absolute;
  left: 0;
  top: 50%;
  background: transparent;
  cursor: pointer;
}

.prev-slider svg {
  width: 50px;
  height: 50px;
}

@keyframes slide {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}
