* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 95px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  padding: 10px;
}

.shoplane-title {
  font-size: 35px;
  font-family: Geneva, Verdana, sans-serif;
}

.container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.product-title {
  font-size: 16px;
  font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.head-title {
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.head-left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.basket {
  background-color: rgba(255, 255, 255, 0);
  width: 50px;
  height: 50px;
}

.login-btn {
  width: 50px;
  height: 40px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(79 70 229);
  border: 1px solid rgb(79 70 229);
  color: white;
  outline: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.login-btn:hover {
  background-color: rgb(56, 47, 224);
}
